---
import { work } from '@cv'
---

<hr class='my-8 border-neutral-900' />
<section>
  <h2>Work Experience</h2>
  <ul>
    {
      work.map(work => (
        <li>
          <div>
            <h3>{work.name}</h3>
            <small>
              {work.startDate} - {work.endDate}
            </small>
          </div>
          <p>{work.position}</p>
          <p>{work.summary}</p>
        </li>
      ))
    }
  </ul>
</section>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
  li {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
