---
import { basics } from '@cv'

const { name, label, email, phone, image, location, profiles } = basics
import Link from '@/icons/Link.astro'
---

<div class='flex justify-between'>
  <div class='flex flex-col justify-between'>
    <h1 class='text-2xl font-bold'>{name}</h1>
    <p>{label}</p>
    <p class='location'>{location.city}, {location.country}, {location.countryCode}</p>
    {
      profiles.map(profile => (
        <div>
          <a
            href={profile.url}
            target='_blank'
          >
            <Link />
          </a>
        </div>
      ))
    }
  </div>

  <img
    src={image}
    alt={name}
    class='h-32'
  />
</div>
